<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Yes, No, Maybe So</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
  </head>
  <body>
    <div class="container">
      <h1>YesNo</h1>
      <br>
      <div id="content"></div>
      <div id="photos">

      </div>
    </div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script type="text/jsx">

      /*** @jsx React.DOM */

      var yesNo = React.createClass({
        render: function() {
          return (<h2>Welcome to YesNo</h2>);
        }
      });

      var photo = React.createClass({
        render: function() {
          return (
          <span>I am a photo at this time</span>
          );
        }
      });

      ReactDOM.render(
        React.createElement(yesNo, null),
        document.getElementById('content')
      );
      ReactDOM.render(
        React.createElement(photo, null),
        document.getElementById('photos')
      );
    </script>
  </body>
</html>