.image-container {
    display: inline-block;
    width: 200px;
    margin: 20px;
}

.image-container img {
    width: 100%;
}

.titletext {
    text-align: center;
    font-size: 12px;
}

.cboxes {
    text-align: justify;
}

.cboxes label {
    width: 50%;
    float: left;
    display: block;
}

.stateReport {
  width: 400px;
  text-align: justify;
  text-justify: inter-word;
  display: block;
}
