.image-container {
    display: inline-block;
    width: 200px;
    margin: 20px;
}

.image-container img {
    width: 100%;
}

.photo-title {
    text-align: center;
    font-size: 10px;
}

.cboxes {
    text-align: justify;
}

.cboxes label {
    width: 50%;
    float: left;
    display: block;
}